// compressed: false

@import "normalize";
// @import "colorbox";
// @import "contact";

//////////////////////////////
// Variables

$unit: 16px;

// Breakpoints
$mobile-breakpoint: 640px;
$max-container-width: 1000px;

// Typography
$font-base: 20px;
$line-height: 1.4;

$font-family: Helvetica, Arial, sans serif;

// Colors
$main-color: #F00;

// Animation, transitions
$duration-base: 0.35s;

//////////////////////////////
// Mixins

@mixin clearfix() {
  &:after {
    display: table;
    clear: both;
    content: " ";
  }
}

@mixin fade-on-active($d: $duration-base) {
  opacity: 0;
  visibility: hidden;
  transition: opacity $d 0s, visibility 0s $d;

  &.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

//////////////////////////////
// General styling

* {
  box-sizing: border-box;
}

body {
  font-size: $font-base;
  font-family: $font-family;
  line-height: $line-height;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: inherit;

}

img {
  display: block;
  width: 100%;
}

.only-mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    display: none !important;
  }
}

.only-desktop {
  @media screen and (max-width: $mobile-breakpoint - 0.5) {
    display: none !important;
  }
}

.container {
  padding: 0 $unit;
  max-width: $max-container-width;
  margin: 0 auto;

  @include clearfix;

  @media screen and (min-width: $mobile-breakpoint) {
    padding: 0 2*$unit;
  }
}


//////////////////////////////
// Custom styling
