// compressed: true

@import "normalize";

//////////////////////////////
// Variables

$unit: 16px;

// Breakpoints
$xs-breakpoint: 640px;
$max-container-width: 1000px;

// Typography
$font-base: 20px;
$line-height: 1.4;

$font-family: Helvetica, Arial, sans serif;

// Colors
$main-color: #f00;

// Animation, transitions
$duration-base: 0.35s;

//////////////////////////////
// Imports

@import "mixins";
// @import "colorbox";
// @import "contact";

//////////////////////////////
// General styling

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-size: $font-base;
  font-family: $font-family;
  line-height: $line-height;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  margin: 0.5em auto;
  max-width: 100%;
}

audio {
  width: 100%;
}

.only-mobile {
  @include breakpoint-for-larger() {
    display: none !important;
  }
}

.only-desktop {
  @include breakpoint-for-smaller() {
    display: none !important;
  }
}

// from Bootstrap v4
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  padding: 0 $unit;
  max-width: $max-container-width;
  margin: 0 auto;

  @include clearfix;

  @include breakpoint-for-larger() {
    padding: 0 2 * $unit;
  }
}

//////////////////////////////
// Custom styling
